@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.main {
    margin: 6% 12% 6% 6%;
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 40px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left img:nth-child(1) {
    width: 120px;
    height: 130px;
    margin-bottom: 25px;
}

.left img:nth-child(2) {
    width: 250px;
}

.left p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 121.02%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 0;
    width: 250px;
}

.right {
    font-family: 'Inter', sans-serif;
    background: #2D2C2E;
    border-radius: 23px;
    padding-bottom: 20px;
}
.header{
    width: 100%;
    margin-inline: 5%;
}
.header h4 {
    font-size: 1em;
    font-weight: lighter;
    color: #fff;
}
.header h4 span {
    font-weight: bold;
}

@media screen and (max-width: 769px) {
    .main{
        margin: 6% 6% 0 6%;
        grid-template-columns: none;
        display: grid;
        grid-template-rows: 50% 50%; 
    }
    .right{
        overflow: scroll;
    }

}

